/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic styles*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:  rgb(11, 31, 1);
}

/*Header*/
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0 2px 2px black;
    background-color: rgb(146, 216, 184);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo{
    font-family: "Anek Devanagari", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 5px;
}

.active {
    border-bottom: 1px solid black;
}


a:hover {
    border-bottom: 1px solid black;
}

/*Navbar styles with dropdown toggle */

nav {
    background-color: inherit;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    margin-top: 2px;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/

main {
    /*Make the main element take up any surplus space to push the footer down*/

    flex: 1 0 auto;
    margin-top: 54px;
    display: flex;
    flex-direction: column;

}

section {
    padding:1em 2em;
    background-color: rgba(86, 172, 106, 0.3);
    ;
}

section a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

/*Footer*/

footer {
    padding: 20px 0;
    height: 40%;
    background-color: rgb(146, 216, 184);
    box-shadow: 0px -2px 2px  black;
}

#social-networks {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

#social-networks i {
    font-size: 180%;
    color: black;
}

.copyright {
    text-align: center;
    padding: 5px;
}

/*Home Page*/

/*Hero image*/

#hero {
    height: 85vh;
    background: url(../images/hero.jpg) top / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*Quote in the hero image*/
.quote {
    width: 50%;
    color: #1c1b1b;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 20%;
    border-radius: 5px;
}

.quote-font {
    font-size: 110%;
    font-family: 'Arvo', serif;
    font-style: italic;
}

/*About us section*/




#questions div {
    padding: 10px;
}

#questions hr {
    margin-bottom: 5px;
}


.heading {
    text-align: center;
    font-size: 200%;
    font-family: "Anek Devanagari", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

 h2 {
    text-transform: uppercase;
    font-family: "Anek Devanagari", sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#about p {
    padding-top: 10px;
}

span {
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
}

/*Video section*/

#video-wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#video-wrapper h3 {
    margin-bottom: 20px;
}

#video {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 5px;

}


/*Categories page*/

#categories {
    height: 100%;
    background-color: rgba(86, 172, 106, 0.3);
    
}


.introduction h2 {
    font-family: "Anek Devanagari", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#categories div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#health {
    box-shadow:5px -5px 10px 3px  rgb(139, 169, 125) ;
}

#social {
    box-shadow:-5px -5px 10px 3px rgb(139, 169, 125);
    z-index: 2;
}

#finance {
    box-shadow:5px -5px 10px 3px rgb(139, 169, 125);
}



#categories p {
    padding: 5px 0;
}

.introduction li {
    padding:2px;
}

 .categories-list h3 {
    text-transform: uppercase;
    font-family: "Anek Devanagari", sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.image-container {
    width:90%; 
        height: 40em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .image {
        flex-grow: 1;
    }

    .categories-content {
        width: 90%;
        margin-right: auto;
        margin-left: auto;

    }


    .image {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    }

    .introduction ul {
        text-align: center;
        padding: 10px 0;
    }

    .anchor-styling {
        font-style: italic;
        font-weight: bold;
        font-size: 120%;
        list-style-type: none;
    }

    #get-in-touch {
        text-align: center;
    }


/* Book a call page */

#booking {
    background: url(../images/booking.webp) center / cover no-repeat;
    flex-grow: 1;
}


#booking-form {
    background-color: rgba(38, 40, 39, 0.3);
    color: rgb(211, 230, 198);
    padding: 30px;

}

#form-heading {
    text-align: center;
    font-size: 200%;
    padding-top: 20px;
    color: rgb(211, 230, 198);
    font-family: "Anek Devanagari", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Contact details*/

.input-fields {
    background: transparent;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(211, 230, 198);
    border-radius: 3px;
    color: rgb(211, 230, 198);
    margin: 10px 0;
    padding: 10px;

}

/*Areas you want to improve */
#check-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    color: rgb(211, 230, 198);
}

#check-buttons div {
    padding: 5px 0;
}

/* Day and time sector*/

#day {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#day-list {
    background: transparent;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(211, 230, 198);
    border-radius: 3px;
    color: rgb(211, 230, 198);
    margin: 10px 0;
    padding: 10px;
}

#days option 
{
    padding: 0 20px;
}

.day-bg-color {
    margin-top: 5px;
    min-height: 25px;
    background-color: rgba(17, 16, 16, 0.1);
    color: rgb(211, 230, 198);
}

#time {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: large;
    flex-wrap: wrap;
}

#time div {
    padding: 5px;
}

input[type="checkbox"], input[type="radio"] {
    color: rgb(211, 230, 198);
    accent-color: rgb(74, 84, 67);
    
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    /* padding: 10px; */
    width: 20px;
    height: 20px;
    border: 1px solid rgb(74, 84, 67);
}

#submit {
    text-align: center;
    padding: 20px 0;
}

.submit-button {
    background-color: rgb(211, 230, 198);
    color: #044024;
    font-size: 130%;
    font-style: oblique;
    padding: 10px;
    border: 1px solid rgb(211, 230, 198);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.submit-button:active {
background-color: #044024;
  color: rgb(211, 230, 198);
    width: 50%;
    height: 3em;
}


/*Media query tablets and larger (>768 px)*/

@media screen and (min-width:768px) {

    /*Header*/

    nav {
        position: relative;
        display: block;
        width: fit-content;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
    }

    #menu>li {
        padding-left: 1em;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 270%;
        margin: 5px 10px;
        width: max-content;
    }

    #hero {
        height: 600px;
    }

    .quote {
        font-size: 120%;
    }

    /*about us section*/

    #questions {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }




    /*Book a call page*/

    /* Make the form smaller*/

    #booking-form {
        width: 50%;
        margin-top: 30px;   
 }

    /*Adjust the checkboxes */

    #check-buttons {
        justify-content: space-between;
    }
}

/*Media query for laptops and up (>992px)*/

@media screen and (min-width:992px) {

    /*Header*/

    /*Change the size in the quote so as to be bigger*/
    .quote {
        font-size: 160%;
    }

    /*Home page*/
    #hero {
        background-position: top center;
    }

    /*Video section*/

    /*Make the iframe smaller*/

    #video {
        max-width: 70%;
        min-width: 70%;
    }

    /*Categories page*/

    .introduction h2 {
        padding-top: 20px;
    }

}

@media screen and (min-width:992px) {
    #hero {
        height: 900px;

    }
}