/*Import Google font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic styles*/
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/*Header*/
header {}

/*Main*/

main {
    /*Make the main element take up any surplus space to push the footer down*/
    flex: 1 0 auto;
}

/*Footer*/
#social-networks {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}